@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}
:root{
    --black: #333;
    --white: #fff;
}
body{
    min-height: 150vh;
    background: #f8f8f8;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0F0F0F; 
    z-index: 1000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
header.sticky{
    padding: 10px 100px;
}
.logo{
    position: relative;
    display: inline-block;
    color: #FFCC00; 
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menuToggle{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(./images/menu.png);
    color:  #fff;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.menuToggle.active{
    background: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}
.navigation.active {
    opacity: 1;
    visibility: visible;
}
.navigation li {
    list-style: none;
    margin: 10px 0;
}
.navigation li a{
    color: var(--black);
    font-size: 1.2em;
    letter-spacing: 4px;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}
section {
    position: relative;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background: var(--white);
}
.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .contentBx{
    position: relative;
    z-index: 1;
    /* background: var(--black); */
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .contentBx h2{
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 4em;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.banner .contentBx h4
{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}
.btn
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid var(--white);
    color: var(--white);
    text-decoration: none;
    font-size: 18px !important;
    font-weight: 600 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.25s;
}
.btn:hover {
    color: var(--white);
    background: var(--black);
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title h2{
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--black);
}
.title p {
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
}
.title h2:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background: #FFCC00;
}

p{
   
    font-weight: 300;


}
.about .contentBx{
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.about .contentBx .content {
    position: relative;
}
.about .contentBx .content .imgBx{
    min-height: 400px;
}
.Tourist .top-cate{
/* background: red; */
border: 1px solid red;
margin-bottom:50px ;
background: #afadad25;
}
.Tourist .title-tab-right{
    text-align: center;
    border: 1px solid rgb(139, 139, 180);
}
.Tourist .bot-cate{
    background: #afadad25;
}
.desc-tab-left .dientich{
    border-bottom: 1px solid rgb(137, 137, 235);
    padding: 10px;
}


#post{
    background-color: #f7f2e9;
}
.post{
    position: relative;
}
.post .contentBx
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.post .contentBx .postColumn{
    position: relative;
}
.post .contentBx .postColumn .postBox {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
/* .post .contentBx .postColumn .postBox.extraHeight{
    height: 600px;
} */
.post .contentBx .postColumn .postBox .textBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}
.post .contentBx .postColumn .postBox:hover .textBx
{
    opacity: 0.9;
    visibility: visible;
}
.post .contentBx .postColumn .postBox .textBx h3
{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--black);
}
/* .post .contentBx .postColumn .postBox .textBx .btn
{
    padding: 4px 10px;
    background: var(--black);
    color: var(--white);
    font-weight: 300;
    font-size: 1em;
} */
.contentview_TextSize{
    margin-top: 40px;   
}
.contentview_TextSize p em strong {
    display: block;
    max-width: 100% !important;
    height: auto !important;
    text-align: center;
}
.contentview_TextSize img {
    width: 100%;
}
.container .title{
    margin-bottom: 20px;
}
.list-unstyled .media{
    display: flex;
}
.media img{
    margin-right: 30px;
    height: auto;
}

img{
  transform: scale(1);
  transition: all 0.5s;
}
img:hover{
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.1);
}


/*-------footer-----*/
#footer {
    width: 100%;
    float: left;
    background: #292929;
    padding: 7em 0 40px;
  }
#footer p {
    color: rgba(255, 255, 255, 0.3);
  }
#footer .section-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
  }
#footer .float {
    float: left;
    margin-right: 10%;
  }
#footer ul {
    padding: 0;
    margin: 0;
  }
#footer ul li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.3);
  }
#footer ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none !important;
  }
#footer ul li a:hover {
    color: #fff;
  }
#footer .contact-info {
    margin: 0 0 60px 0;
    padding: 0;
  }
#footer .contact-info li {
    list-style: none;
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 40px;
  }
#footer h1, h2, h3, h4, h5, h6 {
  
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0 !important;
}
#footer .contact-info li i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
  }
#footer .contact-info li a {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"],
#footer .contact-form .form-group input[type="text"],
#footer .contact-form .form-group input[type="email"],
#footer .contact-form .form-group textarea {
    font-size: 16px;
  }
#footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#footer .contact-form .form-group textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#footer .contact-form .form-group textarea:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#footer .contact-form .form-group textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#footer .contact-form .form-group textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
#footer .contact-form .form-group input {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
#footer .contact-form .form-group textarea {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: none;
  }
#footer #btn-submit {
    color: rgba(255, 255, 255, 0.9) !important;
    background: #FFCC00  !important;
  }
.fh5co-social-icons a:hover{
    color: #FFCC00 !important;
}
#fh5co-wrapper {
    overflow-x: hidden;
    position: relative;
  }
  
.fh5co-offcanvas {
    overflow: hidden;
  }
.fh5co-offcanvas #fh5co-wrapper {
    overflow: hidden !important;
  }
  
#fh5co-page {
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
.fh5co-offcanvas #fh5co-page {
    -moz-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }

#footer .copy-right {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2em;
    margin-top: 3em;
}

#footer .copy-right p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
}
#footer .copy-right p a {
    color: rgba(255, 255, 255, 0.5);
}
.fh5co-social-icons > a {
    padding: 4px 10px;
}
.fh5co-social-icons > a i {
    font-size: 26px;
}
#footer .section-title {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}
.form-group {
    margin-bottom: 15px;
}
#footer h5{
    color: rgba(255, 255, 255, 0.8); 
}
